@import '../../styles/variables';

.button {
  width: 100%;
  font-family: $body-font;
  background: $light-blue;
  cursor: pointer;
  color: #fff;
  border: none;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.12);
  font-size: 0.58rem;
  letter-spacing: 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20% / 50%;
  width: 5.5rem;
  height: 1.8rem;

  &:focus,
  &:active {
    outline: none;
  }

  &:active {
    box-shadow: 0 9px 14px 0 rgba(0, 0, 0, 0.12);
  }
}

.button--disabled {
  cursor: default;
  opacity: 0.5;
}