table(cellspacing="0" cellpadding="0" border="0" align="center" width="100%" style="max-width: 680px;")
  tr
    td(style="padding: 40px 10px;width: 100%;font-size: 12px; font-family: sans-serif; mso-height-rule: exactly; line-height:18px; text-align: center; color: #888888;")
      webversion(style="color:#cccccc; text-decoration:underline; font-weight: bold;") View as a Web Page
        br
        | Ronnie Nyaga
        br
        span.mobile-link--footer
          | Lane 26, Nairobi, Kenya
        br
        span.mobile-link--footer
          | (+254) 724-052-900
        br
        br