doctype html
html(lang="en")
  head
    title Code Challenge
    meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
    meta(name="viewport" content="width=device-width")
    link(rel="stylesheet", href="css/send-email.css", data-inline)
  body(width="100%" bgcolor="#222222" style="Margin: 0;")
    center(style="width: 100%; background: #222222;")
      div(style="display:none;font-size:1px;line-height:1px;max-height:0px;max-width:0px;opacity:0;overflow:hidden;mso-hide:all;font-family: sans-serif;")
      div(style="max-width: 680px; margin: auto;")
        table(cellspacing="0" cellpadding="0" border="0" width="680" align="center")
          tr
            td
              img(src=`${imageUrl}` width="680" height="" alt="Captured image" border="0" align="center" style="width: 100%; max-width: 680px;")
          tr
            td(style="color:#ffffff;text-align:center;height: 100px;")
              | Find attached the code challenge below
          tr
            td(style="color:#ffffff;text-align:center;height: 100px;")
              a.button-a(href=`${imageUrl}`)
                | Click to view image on browser
        include ../../partials/footer
